<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--数据库连接配置 -->
        <property name="connection.url">jdbc:mysql://localhost:3306/ami</property>
        <property name="connection.username">root</property>
        <property name="connection.password">pba123*</property>

        <!--数据库连接驱动-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!--数据库方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--数据库连接池大小配置-->
        <property name="connection.pool_size">1</property>

        <!--配置二级缓存-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!--开启查询缓存-->
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="current_session_context_class">thread</property>
        <!--一次读的数据库记录数-->
        <property name="jdbc.fetch_size">50</property>

        <!--设置对数据库进行批量删除条数-->
        <property name="jdbc.batch_size">30</property>

        <!--是否打印sql-->
        <property name="show_sql">true</property>
        <!--自动创建数据库表 -->
        <property name="hbm2ddl.auto">create</property>
        <!--对象映射关系文件的位置-->
        <mapping resource="mapper/User.hbm.xml"/>
        <mapping resource="mapper/Address.hbm.xml"/>

        <!--指定二级缓存类，以及并发访问策略-->
        <!--<class-cache class="com.youpu.domain.User" usage="read-write"/>-->

    </session-factory>
</hibernate-configuration>