<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="transportClient" class="com.youpu.TransportClientFactoryBean">
        <property name="clusterNode" value="127.0.0.1:9300"/>
        <property name="clusterName" value="elasticsearch"/>
    </bean>

    <bean id="transportClientRepository" class="com.youpu.TransportClientRepository">
        <constructor-arg ref="transportClient"/>
    </bean>
</beans>